<!DOCTYPE html>
{% set htmlLocale = app.request.locale|default(defaultlocale)|slice(0,2) %}
<!--[if lte IE 9]> <html class="no-js lt-ie9" lang="{{ htmlLocale }}"> <![endif]-->
<!--[if gt IE 9]><!--> <html lang="{{ htmlLocale }}"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>
        {% set node = nodetranslation is defined ? nodetranslation.node : null %}
        {% if node is not empty %}
        {% set nodemenu = get_node_menu(app.request.locale, node) %}
        {% endif %}
        {{ websitetitle | trans }}{% block title %}{% if page is defined and nodemenu.getActiveForDepth(2) is not null %} - {{ get_title_for(page) }}{% endif %}{% endblock %}
    </title>

    {% if page is defined %}
        {{ render_seo_metadata_for(page) }}
    {% endif %}

    {% include 'Ten24GenericClientWebsiteBundle:Layout:_favicons.html.twig' %}
    {% include 'Ten24GenericClientWebsiteBundle:Layout:_css.html.twig' %}
    {% include 'Ten24GenericClientWebsiteBundle:Layout:_js_header.html.twig' %}
</head>

<body{%- if block('body_class') -%} class="{{- block('body_class') -}} %}"{%- endif -%}>

    {% include 'Ten24GenericClientWebsiteBundle:Layout:_googletagmanager.html.twig' %}

    {% block outdated %}
        {% include 'Ten24GenericClientWebsiteBundle:Layout:_outdated.html.twig' %}
    {% endblock outdated %}

    {% block header %}
        {% include 'Ten24GenericClientWebsiteBundle:Layout:_header.html.twig' %}
    {% endblock %}

    {% block main %}
    <main role="main"{%- if block('main_class') -%} class="{{- block('main_class') -}} %}"{%- endif -%}>
        <div>
            {% block content %}{% endblock %}
        </div>
    </main>
    {% endblock main %}

    {% block footer %}
        {% include 'Ten24GenericClientWebsiteBundle:Layout:_footer.html.twig' %}
    {% endblock %}

    {% include 'Ten24GenericClientWebsiteBundle:Layout:_js_footer.html.twig' %}

</body>
</html>
