{% extends '::base.html.twig' %}

{% block title %} - {{ status_code }} - {{ status_text }} - {{ websitetitle }}{% endblock %}

{% set pageTitle = 'Oops.' %}

{% block content %}
    <div class="page-content">
        <div>
            <h3>
                {% if status_code == 404 %}
                    The page you requested could not be found.
                {% else %}
                    The server returned a "{{ status_code }} {{ status_text }}".
                {% endif %}
            </h3>
        </div>
    </div>
{% endblock %}
